# dependencies  npm包文件
/node_modules
/practice/node_modules
/auto-track/node_modules
.history
/practice/.history
/auto-track/.history
.vscode

# production  打包文件
/build

# misc 
.DS_Store

npm-debug.log*